footer {
    display: flex;

    flex-direction: column;
    
    background-color: #181818;
    width: 100%;
    height: 200px;
}

.subFooter {
    width: 100%;
    height: 50px;
    background-color: black;
}